$primary-color: #007bff;
$background-color: hsl(180, 39%, 67%);
$table-padding: 10px;
$row-color: #7cfef0;
$row-hover-color: hsl(180, 25%, 73%);

.infoTable {
  width: 80%;
  border-collapse: separate;
  // background-color: $background-color;

  .headerCell {
    background-color: $primary-color;
    color: white;
  }

  .dataCell {
    background-color: $row-color;
    padding: $table-padding;
    border: 1px solid rgb(31, 10, 10);
    border-radius: 14px;
    text-align: left;
  }

  .row {
    transition: background-color 0.3s ease;
    padding: 0.4rem;

    &:hover {
      background-color: $row-hover-color;
    }
  }
}
